PORT=3000

#db
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=todo_db

#authentication
JWT_ACCESS_SECRET=your_access_secret_key
JWT_ACCESS_EXPIRY=expiry_time

JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_REFRESH_EXPIRY=expiry_time

OTP_EXPIRY=expiry_time

#email
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

#app
APP_URL=your_app_url
